<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lab 2 Requirment</title>
</head>
<body>
    <script src="/static/script1.js"></script>
    <div class="container">
        <form name= "myform" action="/submit" method="POST" onsubmit="return validate_form()">
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname" placeholder="Your first name..."  >
    
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname" placeholder="Your last name..." >
    
          <input type="Submit" value="Submit">
        </form>
      </div>
</body>
</html>